* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "roboto", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
}
.contenedor {
	width: 90%;
	max-width: 100%;
	margin: auto;
	overflow: hidden;
}
.contenedor1 {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
	padding: 60px 0;
}
h1,
h2 {
	font-size: 50px;
}

nav {
	width: 100%;
	background: black;
	height: 80px;
	border-bottom: 1px solid transparent;
	box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	z-index: 100;
	transition: ease-in-out 0.5s;
}
header::before {
	content: "";
	display: block;
	margin-bottom: 80px;
}
.nav {
	display: flex;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	align-items: center;
	padding: 0 40px;
}
.nav .logo {
	height: 80px;
}
.nav .logo img {
	height: 100%;
	vertical-align: top;
}
.enlaces-header {
	transition: ease-in-out 1s;
	font-weight: 300;
}
nav .enlaces-header a {
	color: #5d6678;
	text-decoration: none;
	margin-left: 20px;
}
.hamburguer {
	width: 80px;
	height: 80px;
	display: none;
	color: #5d6678;
	text-align: center;
	z-index: 100;
	cursor: pointer;
	transition: color 0.5s ease-in;
}
.hamburguer > i {
	font-size: 25px;
	line-height: 80px;
}

.contenido-header {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contenido-header > img {
	width: 550px;
	animation: ease-in animat 3s;
}

@keyframes animat {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.textos-header {
	margin: 0 0 0 30px;
}
.textos-header img {
	width: 100%;
	padding: 0 15px;
}

.contenido-header p {
	font-weight: bold;
	margin-top: 14px;
	color: #f2f2f2;
}
.contenido-header a {
	margin: 28px 0 0 0;
	width: 130px;
	display: inline-block;
	padding: 12px 0;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 5px;
	box-shadow: 0 8px 32px rgba(31, 222, 130, 0.46);
}
.contenido-header a img {
	width: 100%;
	height: auto;
}
.titulo {
	font-size: 50px;
	color: #b449a2;
}
.about-us {
	background: #f2f2f2;
}
.contenedor-articulo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 60px;
}
.articulo {
	width: 29%;
	background: #5d6678;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 45px 30px 60px 30px;
	transition: 0.5s;
}
.articulo:hover {
	box-shadow: 0 4px 10px rgba(17, 29, 48, 0.26);
}
.articulo > i {
	font-size: 30px;
	color: #fff;
	background: #1fde82;
	width: 70px;
	height: 70px;
	text-align: center;
	padding-top: 20px;
	border-radius: 50%;
	box-shadow: 0 8px 32px rgba(31, 222, 130, 0.46);
}
.articulo > h3 {
	font-size: 24px;
	margin-top: 30px;
}
.articulo > p {
	font-weight: 100;
	color: #fff;
	margin-top: 15px;
	padding-top: 20px;
}
.articulo > a {
	color: #fff;
	font-weight: 400;
	text-decoration: none;
}
.articulo > a:hover {
	color: #1fde82;
	transition: color 0.5s;
}

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}

.parallax {
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.questions {
	height: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.questions > img {
	width: 550px;
}
.textos-questions {
	margin: 0 0 0 30px;
}

.textos-questions p {
	font-weight: 100;
	margin-top: 14px;
	color: white;
}
.textos-questions a {
	margin: 28px 0 0 0;
	width: 130px;
	display: inline-block;
	background: #1fde82;
	color: white;
	text-align: center;
	padding: 12px 0;
	text-decoration: none;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: 0 8px 32px rgba(31, 222, 130, 0.46);
}
.results {
	background: #2570ff;
	padding-top: 30px;
}
.conten-results {
	display: flex;
	justify-content: space-around;
	padding-bottom: 30px;
	height: auto;
}
a {
	text-decoration: none;
}
.numbers {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: hidden;
	padding-bottom: 30px;
}
.proy1 {
	background-image: url("../images/matrix.jpg");
}
.proy2 {
	background-image: url("../images/buscador.jpg");
}
.proy3 {
	background-image: url("../images/editortiemporeal.jpg");
}
.proy4 {
	background-image: url("../images/greendream.jpg");
}
.proy5 {
	background-image: url("../images/panoramas.jpg");
}
.proy6 {
	background-image: url("../images/combustible.jpg");
}
.child {
	border-radius: 20px;
	background-size: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	background-color: black;
	text-align: center;
}
.parent:hover .child,
.parent:focus .child {
	transform: scale(1.2);
	transition: all 0.5s;
}
.parent {
	width: 45%;
	height: 40vh;
	border-radius: 10px;
	padding: 40px 35px;
	margin-bottom: 20px;
}
.parent h3 {
	color: #6e00c8;
	font-weight: 700;
	margin-bottom: 25px;
	text-align: center;
}
.parent p {
	color: #f2f5fc;
	font-weight: 300;
	text-align: center;
}
.results-text {
	width: 20%;
}
.results-text h4 {
	color: white;
	font-size: 40px;
}
.results-text p {
	color: white;
	font-weight: 300;
	margin: 20px 0;
}
.results-text > a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #fff;
	padding: 10px 0;
	width: 200px;
	text-align: center;
	border-radius: 5px;
}

.service {
	display: flex;
	justify-content: space-between;
}
.service > img {
	width: 500px;
}
.box-skills {
	margin: 30px 30px 0 0;
}
.box-skills h4 {
	font-size: 24px;
	background: #666363;
	width: 350px;
	border-radius: 6px;
	padding: 10px 0 10px 15px;
	margin-bottom: 10px;
}
.box-skills i {
	color: #1fde82;
	font-size: 20px;
}
footer {
	background: #f2f2f2;
	padding: 60px 0;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
}
.partFooter {
	width: 20%;
	text-align: center;
}
.partFooter h4 {
	color: #1d273b;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 30px;
}
.partFooter a {
	display: block;
	text-decoration: none;
	color: #5d6678;
	font-weight: 300;
	transition: color 0.3s ease-in-out;
	margin-bottom: 10px;
}
.partFooter a:hover {
	color: #1fde82;
}
.partFooter img {
	width: 70%;
}
.social-media a {
	font-size: 20px;
	display: inline-block;
	color: #adb6c7;
	border: 1px solid #adb6c7;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	line-height: 36px;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	transition: all ease-in-out 0.3s;
	margin-right: 5px;
}
.social-media a:hover {
	color: #fff;
	background: #1fde82;
	border-color: #1fde82;
}
@media screen and (max-width: 1100px) {
	.titulo {
		font-size: 45pz;
	}
	.contenido-header {
		flex-direction: column-reverse;
		justify-content: space-evenly;
		height: 720px;
	}
	.contenido-header > img {
		width: 400px;
	}
	.textos-header {
		margin: 0;
	}

	.articulo {
		width: 45%;
	}
	.questions {
		height: 720px;
		justify-content: space-evenly;
		flex-direction: column;
	}
	.questions > img {
		width: 400px;
	}
	.conten-results {
		flex-direction: column-reverse;
		height: auto;
	}
	.results-text > a {
		margin-bottom: 60px;
	}
	.numbers {
		width: 100%;
	}
	.results-text {
		width: 100%;
		text-align: center;
	}
	.service {
		flex-direction: column-reverse;
		align-items: center;
	}
	.box-skills {
		margin: 0 0 40px 0;
	}
	.box-skills h4 {
		width: 500px;
	}
	.service > img {
		width: 400px;
	}
	footer {
		justify-content: space-evenly;
	}
	.partFooter {
		width: 40%;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 800px) {
	.titulo {
		font-size: 35px;
	}
	h1 {
		font-size: 40px;
	}
	.contenido-header {
		height: 650px;
	}
	.nav {
		padding: 0 10px;
	}
	.contenido-header > img {
		width: 250px;
	}
	.enlaces-header {
		position: fixed;
		background: #667db6; /* fallback for old browsers */
		background: -webkit-linear-gradient(
			to right,
			#667db6,
			#6e00c8,
			#6e00c8,
			#667db6
		); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
			to right,
			#667db6,
			#6e00c8,
			#6e00c8,
			#667db6
		); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		top: 0;
		right: 0;
		width: 100%;
		height: 50vh;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-evenly;
		clip-path: circle(0% at 100% 0);
	}
	.nav .menu2 {
		clip-path: circle(150% at 100% 0);
	}
	.nav .enlaces-header a {
		color: white;
	}
	.hamburguer {
		display: block;
	}
	.articulo {
		width: 95%;
	}
	.textos-questions h2 {
		font-size: 35px;
	}
	.questions > img {
		width: 200px;
	}
	.parent {
		width: 100%;
		height: 35vh;
	}
	.conten-results {
		height: auto;
	}
	.results-text h4 {
		font-size: 35px;
	}
	.service > img {
		width: 200px;
	}
	.box-skills {
		width: 100%;
	}
	.partFooter {
		width: 95%;
		margin-bottom: 40px;
	}

	.contenido-header a {
		position: absolute;
	}
}
